<script src="https://www.google.com/recaptcha/api.js?onload=initRecaptcha&render={{ key }}" async defer ></script>
<script>
var initRecaptcha= function()
{ 
    grecaptcha.ready(function() {
        grecaptcha.execute('{{ key }}', {action: 'homepage'}).then(function(token) {
            $('#recaptcha_token').val(token);
            $('.btn-disabled').removeAttr('disabled');
            $('.btn-disabled').removeClass('btn-disabled');
        });
    });
};

</script>
<input type="hidden" name="recaptcha_token" id="recaptcha_token">
<div data-validate-for="recaptcha_token" class="invalid-feedback"></div>
