#container {
    width: 100%;
    height: 100%;
    
}
 #left_panel {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 100px;
    background: grey;
}

#right_panel {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    color:#fff;
    background: black;
}
 #drag {
    position: absolute;
    right: -4px;
    height: 100%;
    width: 4px;
    background-color: lightgrey;
    cursor: ew-resize;
    display: block;
    z-index: 10;
}

.w-350
{
    position: relative !important;
}